   * {
       margin: 0;
       padding: 0;
   }
   /* HEADER  */
   
   header {
       height: 100px;
       background-color: beige;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   header nav ul li {
       list-style: none;
       float: left;
       margin-right: 30px;
   }
   
   header nav ul li a {
       text-decoration: none;
       color: black;
       font-size: 28px;
       padding: 10px;
       background-color: yellowgreen;
   }
   
   header nav ul li a:hover {
       color: rgb(255, 255, 255);
   }
   
   .clear {
       clear: both;
   }
   /* END HEADER */
   
   .container {
       width: 1200px;
       margin: 0 auto;
   }
   
   .index {
       margin-top: 40px;
   }
   
   .index h2 {
       text-align: center;
       font-size: 30px;
   }
   
   .index p {
       margin-top: 40px;
       margin-bottom: 40px;
   }
   
   .hero-image img {
       width: 100%;
   }
   /* FOOTER */
   
   footer {
       padding-top: 40px;
       height: 200px;
       background-color: darkcyan;
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
   }
   
   footer nav {
       width: 50%;
   }
   
   footer nav ul li {
       list-style: none;
       margin-bottom: 20px;
   }
   
   footer nav ul {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
   }
   
   footer nav ul li a {
       text-decoration: none;
       font-size: 28px;
       color: aliceblue;
   }
   
   .literature {
       width: 50%;
   }
   
   .literature ul {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
   }
   
   .literature ul li {
       list-style: none;
       font-size: 28px;
       margin-bottom: 20px;
       color: aliceblue;
   }
   
   footer p {
       width: 100%;
       color: aliceblue;
       text-align: center;
   }
   /* END FOOTER */
   /* RESPONSIVE */
   
   @media all and (max-width:1200px) and (min-width:992px) {
       .container {
           width: 992px;
       }
   }
   
   @media all and (max-width:991px) and (min-width:576px) {
       .container {
           width: 576px;
       }
       header nav ul li a {
           font-size: 20px;
       }
       footer nav ul li a {
           font-size: 20px;
       }
       .literature ul li {
           font-size: 20px;
       }
   }
   
   @media all and (max-width:575px) {
       .container {
           width: 98%;
       }
       header nav ul li a {
           font-size: 1em;
       }
       footer nav ul li a {
           font-size: 1em;
       }
       .literature ul li {
           font-size: 1em;
       }
       header {
           height: auto;
           padding: 20px;
       }
       header nav ul li {
           float: none;
           display: block;
           margin-bottom: 30px;
           width: 100%;
       }
       header nav ul li a {
           display: block;
           width: 100%;
       }
   }